In [ ]:
import numpy as np

scores = np.array([85, 90, 23, 190, 81])
eligibility = np.whea(scores > 90, "Yes", "No")

print(eligibility)

['No' 'No' 'No' 'Yes' 'No']

In [2]:
import numpy as np
customer = np.isnan([1, 20, 50, 60, 90, np.nan])
# np.nan_to_num(customer)
np.sum(customer)

np.int64(1)

In [5]:
import pandas as pd

data_list_pd = [[1, "Charlie"], [2, "Jane"], [3, "John"]]
pd.DataFrame(data_list_pd, columns=["ID Number", "Name"])

   ID Number     Name
0          1  Charlie
1          2     Jane
2          3     John

In [14]:
import pandas as pd

# Dataset URL
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv'

data_csv = pd.read_csv(url)
# data_csv.head()
# data_csv['Passengers'][:10]
data_csv.isnull().sum()

Month         0
Passengers    0
dtype: int64