In [ ]:
import numpy as np

scores = np.array([85, 90, 23, 190, 81])
eligibility = np.whea(scores > 90, "Yes", "No")

print(eligibility)

['No' 'No' 'No' 'Yes' 'No']

In [2]:
import numpy as np
customer = np.isnan([1, 20, 50, 60, 90, np.nan])
# np.nan_to_num(customer)
np.sum(customer)

np.int64(1)

In [5]:
import pandas as pd

data_list_pd = [[1, "Charlie"], [2, "Jane"], [3, "John"]]
pd.DataFrame(data_list_pd, columns=["ID Number", "Name"])

   ID Number     Name
0          1  Charlie
1          2     Jane
2          3     John

In [16]:
import pandas as pd

# Dataset URL
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv'

# data_csv = pd.read_csv(url)
# data_csv.head()
# data_csv['Passengers'][:10]

data_l = [2, 4, 5, 9, 10, 12]
pd.Series(data_l)

0     2
1     4
2     5
3     9
4    10
5    12
dtype: int64

In [19]:
import polars as pl

data_t = [3, 5, 7, 9, 11, 20]
d_polars = pl.Series(data_t)
print(d_polars[1: 4])

shape: (3,)
Series: '' [i64]
[
	5
	7
	9
]

In [3]:
import pandas as pd
import polars as pl

pandas_pd = pd.DataFrame({"A": [1, 2, 3, 4], "B": [5, 6, 7, 8]})
polar_pl = pl.DataFrame({"A": [1, 2, 3, 4], "B": [5, 6, 7, 8]})

pandas_pd

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [2]:
import pandas as pd 

data_set = pd.DataFrame({"Peter": [100, 200, 300, 400, 500]})
data_set

   Peter
0    100
1    200
2    300
3    400
4    500

In [2]:
import pandas as pd

df = pd.DataFrame({"age": [2, 4, 8, 9, 10]})
bins = [0, 3, 8, 9]
labels = ['Young', 'Middle-age', 'Mature']
df['bins_age'] = pd.cut(df['age'], bins=bins, labels=labels)

In [2]:
for i in range(0, 10):
    if i == 5 or i == 8:
        continue
    print("Theo", i)

Theo 0
Theo 1
Theo 2
Theo 3
Theo 4
Theo 6
Theo 7
Theo 9

In [1]:
a = [True, False, False]
print(all(a))

False